<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Terraria Loader"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <!-- Main launcher activity -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Core activities -->
        <activity android:name=".TerrariaSpecificActivity" android:exported="false"/>
        <activity android:name=".AboutActivity" android:exported="false"/>
        <activity android:name=".UniversalActivity" android:exported="false"/>
        <activity android:name=".SpecificSelectionActivity" android:exported="false"/>
        <activity android:name=".ui.OfflineDiagnosticActivity" android:exported="false"/>

        <!-- NEW: Unified Loader Activity (replaces TerrariaActivity and DllModActivity) -->
        <activity android:name=".ui.UnifiedLoaderActivity" android:exported="false"/>
        
        <!-- Updated: Pure mod management only -->
        <activity android:name=".ui.ModManagementActivity" android:exported="false"/>
        <activity android:name=".ui.ModListActivity" android:exported="false"/>
        
        <!-- Updated: Setup guide with offline ZIP import -->
        <activity android:name=".ui.SetupGuideActivity" android:exported="false"/>
        
        <!-- Utility activities -->
        <activity android:name=".ui.SettingsActivity" android:exported="false"/>
        <activity android:name=".ui.LogViewerActivity" android:exported="false"/>
        <activity android:name=".ui.InstructionsActivity" android:exported="false"/>
        <activity android:name=".SandboxActivity" android:exported="false"/>
        
        
    </application>
</manifest>